<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mybatis.jpetstore.mapper.BoardMapper">

        <cache />

        <select id="getBoardList" resultType="Board">
            SELECT * FROM BOARD
            WHERE bno >0
        </select>

        <insert id="insertPost" parameterType="Board">
            insert into board (userid,title,contents)
            values (#{userid},#{title},#{contents})
        </insert>

        <select id="getBoard" resultType="Board">
            SELECT bno,title,userid,contents
            FROM BOARD
            WHERE bno = #{value}
        </select>

</mapper>